.bg-container {
  padding: 30px;
  background-color: #f4f4f4;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.mm-bg {
  margin-bottom: 30px;
}

.name {
  font-size: 24px;
}

.color-mm {
  color: #2d87bb;
}

.transaction-container {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .transaction-container {
    width: 50%;
  }
}

.input-label {
  display: block;
  margin-top: 15px;
  font-weight: 500;
}

.input-field {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.submit-button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #2d87bb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.trans-history-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}
@media screen and (min-width: 768px){
  .trans-history-container {
    width: 50%;
    align-self: flex-start;
    margin-left: 10px;
  }
}

.head-history,
.transaction-list {
  list-style-type: none;
  padding: 0;
}

.head-history {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  font-weight: bold;
  background-color: #f2f2f2;
  margin-top: 10px;
}

.head-history li {
  flex: 1;
  text-align: left;
}
@media screen  and (min-width:768px) {
  .transaction-history{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}